{% extends "base.html" %}

{% block title %} 
    <h1>Atualizar Professor</h1>
    <br>
    <br>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{ professor.nome }}" >    
        <input type="text" name="email" value="{{ professor.email }}">    
        <input type="text" name="idade" value="{{ professor.idade }}" >    
        
        <button type="submit">Atualizar</button>
    </form>

    <a href="{% url 'lista_professores' %}">Voltar para a lista de tarefas</a>
{% endblock %}